{% extends 'navbar.html' %}
{% block title_block %}
{% endblock %}

{% block body_block %}
{% if search %}
{% for user in result %}
<div class="row">
<div class="col-sm-1">
    {% if user.user_profile.profile_pic %}
<img src="/media/{{ user.user_profile.profile_pic }}" 
      width="50px" height="50px"  alt=""  style="border-radius: 50%;">
  
  {% else %}
    <img src="/static/img/default.png" width="50px" height="50px"  alt="" style="border-radius: 50%;">
{% endif %}
</div>
<div class="col-sm-10">
    <a href="{% url 'App_Login:user' username=user.username %}">{{user.username}} </a>
    <br>
    {{user.user_profile.full_name}}
</div></div>

{% endfor %}

{% else %}
<div class="row">
    <div class="col-sm-8">
{% for post in posts %}

<div style="border: 1px solid #888888;">
    <div style="padding: 10px;">
   
    {% if post.author.user.user_profile.profile_pic %}
<img src="/media/{{ user.user_profile.profile_pic }}" 
      width="40px" height="40px"  alt=""  style="border-radius: 50%;">
  
  {% else %}
  <img src="/static/img/default.png" width="40px" height="40px"  alt="" style="border-radius: 50%;">
  {% endif %}
  <a href="{% url 'App_Login:user' username=post.author %}"></a>{{ post.author }}
  </div>
      <img src="/media/{{post.image}}" width="100%">
      <div style="padding: 20px;">
        
        {% if post.pk in liked_post_list%}
         <a href="{% url 'App_Post:unliked' pk=post.pk %}"> <i class="fa fa-heart" style="font-size: 36px;"></i></a>
        {% else %}
        <a href="{% url 'App_Post:liked' pk=post.pk %}"><i class="fa fa-heart-o" style="font-size: 36px;"></i></a>
        {% endif %} &nbsp;
        <b>{{post.liked_post.count}} Likes</b>
        <br>
        {{post.caption}} <br>
      </div>
  </div>
  <br><br>
  {% endfor %}
</div>


<div class="col-sm-4">
    <div class="row">
        <div class="col-sm-4">
            {% if user.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic }}" 
                  width="50px" height="50px"  alt=""  style="border-radius: 50%;">
              
              {% else %}
                <img src="/static/img/default.png" width="50px" height="50px"  alt="" style="border-radius: 50%;">
            {% endif %}
            <div class="col-sm-8">
                {{user.user_profile.full_name}}
            </div>
        </div>
    </div>
   
</div>
</div>
  

{% endif %}
{% endblock %}